2captcha-python==1.5.0
annotated-types==0.7.0
asttokens==2.4.1
attrs==23.2.0
aws==0.2.5
awsebcli==3.20.10
Babel==2.15.0
bcrypt==4.1.3
beautifulsoup4==4.12.3
blinker==1.8.2
blis==0.7.11
boto==2.49.0
botocore==1.31.85
catalogue==2.0.10
cement==2.8.2
certifi==2024.6.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.3
comm==0.2.2
confection==0.1.5
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
cymem==2.0.8
decorator==5.1.1
Deprecated==1.2.14
distlib==0.3.8
distro==1.9.0
et-xmlfile==1.1.0
executing==2.0.1
fabric==3.2.2
filelock==3.15.4
Flask==2.0.3
fonttools==4.53.0
fsspec==2024.6.1
future==1.0.0
googletrans==4.0.0rc1
gunicorn==23.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.7.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.24.0
hyperframe==5.2.0
idna==2.10
intel-openmp==2021.4.0
interact==0.2
invoke==2.2.0
ipython==8.25.0
ipywidgets==8.1.3
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jupyterlab_widgets==3.0.11
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mkl==2021.4.0
mpmath==1.3.0
murmurhash==1.0.10
networkx==3.3
nltk==3.8.1
numexpr==2.10.0
numpy==1.26.4
openpyxl==3.1.3
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.2
pandastable==0.13.1
paramiko==3.4.0
parso==0.8.4
pathspec==0.10.1
pillow==10.3.0
platformdirs==4.2.2
preshed==3.0.9
prettytable==3.10.0
prompt_toolkit==3.0.47
pure-eval==0.2.2
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
PyNaCl==1.5.0
pyparsing==3.1.2
pypiwin32==223
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.31.0
rfc3986==1.5.0
safetensors==0.4.3
selenium==4.24.0
semantic-version==2.8.5
setuptools==73.0.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
srsly==2.4.8
stack-data==0.6.3
sympy==1.13.0
tabula-py==2.9.3
tabulate==0.9.0
tbb==2021.13.0
termcolor==1.1.0
thinc==9.0.0
tokenizers==0.19.1
torch==2.3.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.42.4
trio==0.26.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.19
vercel==0.2.1
virtualenv==20.26.3
wasabi==1.1.3
wcwidth==0.1.9
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==2.0.3
wheel==0.44.0
widgetsnbextension==4.0.11
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
